

@model UBA_Network_Security_System.Models.Transfer





<div class="row">
    <div class="col">
        <section class="ftco-section" style="padding-top:0px; padding-bottom: 2px;">
            <div class="row justify-content-center">
                <div class="login-wrap">
                    <div class="img" style="background-image: url(/Images/UBA-BANK1.jpg);"></div>
                    <h3 class="text-center mb-4">
                        <span>Update Transfer Transaction</span>
                    </h3>
                    @using (Html.BeginForm("UpdateTransfer", "Transaction", new { @id = "frmUpdateTransfer" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.RecieverAccountNumber)
                        @Html.HiddenFor(model => model.RecieverAccountName)
                        @Html.HiddenFor(model => model.SenderAccountNumber)
                        @Html.HiddenFor(model => model.SenderPhone)
                        @Html.HiddenFor(model => model.CashaierID)
                        @Html.HiddenFor(model => model.CreatedAt)
                        @Html.HiddenFor(model => model.Remark)
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.SecurePass)

                        <div class="form-group mb-3">
                            @Html.TextBoxFor(o => o.Amount, new { @class = "form-control", @placeholder = "Enter Amount" })
                        </div>


                        <div style="text-align: center;" id="loaderDiv1" class="pt-2">
                            <img src="~/Images/loadingx.gif" width="80" height="80" class="img img-thumbnail" />
                        </div>

                        <div class="d-grid gap-2 col-md-12 mx-auto mt-2">
                            <div class="form-group">
                                <button id="btnUpdate" class="form-control btn btn-primary submit px-3">Continue</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </section>
    </div>

</div>





<script>

    $(document).ready(function () {
        $("#loaderDiv1").hide();

        var msg = $("#msg").text();

        if (msg != null && msg != "") {
            alert(msg);
        }

        $("#btnUpdate").click(function () {

            let amount = $("#Amount").val();

            if (amount != "") {
                $("#loaderDiv1").show();

            }
        })



    })
</script>


