
@{
    ViewBag.Title = "Deposit Transaction";
}


<div id="bucket">

    @if (ViewBag.Msg != null)
    {
        <p id="msg" style="display:none">@ViewBag.Msg</p>
    }

    <h3 class="lead fs-3 mt-5" id="title">Deposit Record</h3>

    <div class="row">
        <div class="col">
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="login-wrap">
                                <div class="img" style="background-image: url(/Images/UBA6.jpg);"></div>
                                <h3 class="text-center mb-4">Look Up Customers' Deposit</h3>

                                @using (Html.BeginForm("Deposit", "Transaction", FormMethod.Get))
                                {

                                    <div class="form-group mb-3">
                                        @Html.Editor("accountNumber", new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter recipient account number" } })
                                    </div>

                                    <div style="text-align: center;" id="loaderDivx" class="pt-2">
                                        <img src="~/Images/loadingx.gif" width="80" height="80" class="img-circle img-thumbnail" />
                                    </div>

                                    <div class="d-grid gap-2 col-md-12 mx-auto">
                                        <input class="btn btn-primary submit fw-bold px-3 fw-bolder" type="submit" id="btnSearch"
                                               value="Look Up Now" />
                                    </div>

                                }


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>







    @* TABLE BELLOW IS USED TO POPULATE ALL RECORD IN DB *@
    @if (ViewBag.Deposits != null)
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account Number</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th>Status</th>
                        <th>Depositors</th>

                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    @{ int i = 1;}
                    @foreach (var item in ViewBag.Deposits as List<UBA_Network_Security_System.Models.Deposit>)
                    {
                        var ItemCount = ViewBag.DepositCount;
                        <tr id="row_@item.AccountName">
                            <td>
                                @if (i <= ItemCount)
                                {
                                    @i
                                }

                            </td>

                            <td>@item.AccountNumber</td>
                            <td>@item.Amount.ToString("c", ViewBag.CurrencyFmt)</td>
                            <td>@item.Remark</td>
                            <td>@item.Status</td>
                            <td>@item.DepositorName</td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <div class="d-grid gap-2 col-md-12 mx-auto">
                                        <a href="#" class="text-success" onclick="AddEdit('@item.Id')"><span class="fa fa-2x fa-pencil-square-o"></span> </a>

                                    </div>
                                </td>
                            }
                        </tr>
                        i++;
                    }
                </tbody>

            </table>

        </div>
    }



    @* MODAL BELLOW IS USED  FOR NEW/EDIT RECORD *@
    <div class="modal fade" id="AddEditModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">

                    <div class="row">
                        <div class="col">

                            <a href="#" class=" btn btn-outline-dark py-3 mx-md-2" id="btnReset">Reset</a>

                            <a href="#" class="btn btn-outline-danger py-3 mx-md-2" id="btnCancle">Close</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Record</h1>
                    <button type="button" class="btn-close text-bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>


                <div class="modal-body">

                    <h2 class="text-center text-danger fs-3">ARE YOU SURE YOU WANT TO DELETE RECORD <span id="deleteId"></span>?</h2>
                    <input type="hidden" id="ID" />
                    <div class="d-grid gap-2 col-md-12 mx-auto">
                        <input type="submit" id="btnDelete" onclick="DeleteRecord()" class="btn btn-danger" value="Yes Delete" />
                    </div>
                </div>


            </div>


        </div>
    </div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<script>
    $(document).ready(function () {
        $("#loaderDivx").hide();

        var Smsg = $("#msg").text();
        if (Smsg != "") {
            alert(Smsg);
        }

        $("#btnReset").click(function () {
            $("#AccountNumber").val("");
            $("#Amount").val("");
            $("#Remark").val("");
            $("#Status").val("");
        })

        $("#btnCancle").click(function () {
            $("#AddEditModal").modal("hide");
        })

        $("#btnSearch").click(function () {
            var ph = $("#phone").val();
            if (ph.trim() != "")
                $("#loaderDivx").show();

        })


    })


    var AddEdit = function (id) {
        $("#loaderDiv").show();
        debugger;
        var url = "/Transaction/AddEditDeposit?transactionID=" + id; //USED TO SEARCH ENTITY WITH ID

        $("#modalBody").load(url, function () {  // LOAD THE CONTENT FROM THE ACTION /ADDEDITRECORD
            $("#loaderDiv").hide();
            $("#AddEditModal").modal("show");
        })
    }



    var ConfirmDeleteRecord = function (id) {
        $("#ID").val(id);
        $("#DeleteModal").modal("show");
    }


    var DeleteRecord = function () {

        var Id = $("#ID").val();

        $.ajax({

            type: "POST",
            url: "/Transaction/DeleteDeposit",
            data: { bvn: Id },
            success: function (result) {
                if (result == true) {
                    $("#row_" + Id).remove();
                    alert("Record deleted successfully!");
                    window.location.href = "/Home/Index";
                }
                else {
                    alert("Operation failed!");
                    window.location.href = "/Home/Index";
                }
            }
        })


    }

</script>

