@model UBA_Network_Security_System.Models.Deposit

@{
    ViewBag.Title = "New Deposit";
}
@if (ViewBag.Msg != null)
{
    <p id="msg" style="display:none">@ViewBag.Msg</p>
}
<div class="bucket">


    <div class="row">
        <div class="col">
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="login-wrap">
                                <div class="img" style="background-image: url(/Images/UBA5.jpeg);"></div>
                                <h3 class="text-center mb-4">United Bank of Africa</h3>
                                @using (Html.BeginForm("Deposit","Transaction"))
                                {
                                    @Html.AntiForgeryToken()

                                    <h4>Depositors' Form</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group mb-3">
                                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Account Number" } })
                                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group mb-3">
                                        @Html.EditorFor(model => model.DepositorName, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Depositors' Name" } })
                                        @Html.ValidationMessageFor(model => model.DepositorName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-3">
                                        @Html.EditorFor(model => model.DepositorPhone, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Depositors' Phone" } })
                                        @Html.ValidationMessageFor(model => model.DepositorPhone, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group mb-3">
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Amount" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>



                                    <div style="text-align: center;" id="loaderDiv1" class="pt-2">
                                        <img src="~/Images/loadingx.gif" width="80" height="80" class="img img-thumbnail" />
                                    </div>

                                    <div class="form-group">
                                        <button id="btnDeposit" class="form-control btn btn-primary submit px-3">Continue</button>
                                    </div>
                                }
                                @*<form id="frmDeposit">
                                </form>*@

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>


<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<script>

    $(document).ready(function () {
        $("#loaderDiv1").hide();


        var msg = $("#msg").text();

        if (msg != null && msg != "") {
            alert(msg);
        }


        $("#btnDeposit").click(function () {

            let accNo = $("#AccountNumber").val();
            let depoNa = $("#DepositorName").val();
            let amount = $("#Amount").val();

            if (accNo != "" && depoNa != "" && amount != "") {
                $("#loaderDiv1").show();

            } //else
                //window.location.href = "/Transaction/NewDeposit";

        })




    });
</script>
